{% if product.metafields.meta.recommended_review != blank %}

<div class="w__PowerReview">
  <div class="w__PowerReview__star">
    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="25" viewBox="0 0 26 25" fill="none"><path d="M13.182 0.646435C13.2315 0.504197 13.4326 0.504197 13.4821 0.646435L16.4698 9.24177C16.4916 9.30451 16.5502 9.34706 16.6166 9.34841L25.7145 9.53381C25.865 9.53688 25.9272 9.72819 25.8072 9.81917L18.5558 15.3168C18.5029 15.3569 18.4805 15.4258 18.4998 15.4893L21.1348 24.1992C21.1784 24.3434 21.0157 24.4616 20.8921 24.3756L13.4228 19.178C13.3682 19.14 13.2959 19.14 13.2413 19.178L5.77199 24.3756C5.64838 24.4616 5.48564 24.3434 5.52925 24.1992L8.16433 15.4893C8.18357 15.4257 8.1612 15.3569 8.10826 15.3168L0.856878 9.81917C0.73688 9.72819 0.799041 9.53688 0.949596 9.53381L10.0475 9.34841C10.1139 9.34706 10.1725 9.30451 10.1943 9.24177L13.182 0.646435Z" ></path></svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="25" viewBox="0 0 26 25" fill="none"><path d="M13.182 0.646435C13.2315 0.504197 13.4326 0.504197 13.4821 0.646435L16.4698 9.24177C16.4916 9.30451 16.5502 9.34706 16.6166 9.34841L25.7145 9.53381C25.865 9.53688 25.9272 9.72819 25.8072 9.81917L18.5558 15.3168C18.5029 15.3569 18.4805 15.4258 18.4998 15.4893L21.1348 24.1992C21.1784 24.3434 21.0157 24.4616 20.8921 24.3756L13.4228 19.178C13.3682 19.14 13.2959 19.14 13.2413 19.178L5.77199 24.3756C5.64838 24.4616 5.48564 24.3434 5.52925 24.1992L8.16433 15.4893C8.18357 15.4257 8.1612 15.3569 8.10826 15.3168L0.856878 9.81917C0.73688 9.72819 0.799041 9.53688 0.949596 9.53381L10.0475 9.34841C10.1139 9.34706 10.1725 9.30451 10.1943 9.24177L13.182 0.646435Z" ></path></svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="25" viewBox="0 0 26 25" fill="none"><path d="M13.182 0.646435C13.2315 0.504197 13.4326 0.504197 13.4821 0.646435L16.4698 9.24177C16.4916 9.30451 16.5502 9.34706 16.6166 9.34841L25.7145 9.53381C25.865 9.53688 25.9272 9.72819 25.8072 9.81917L18.5558 15.3168C18.5029 15.3569 18.4805 15.4258 18.4998 15.4893L21.1348 24.1992C21.1784 24.3434 21.0157 24.4616 20.8921 24.3756L13.4228 19.178C13.3682 19.14 13.2959 19.14 13.2413 19.178L5.77199 24.3756C5.64838 24.4616 5.48564 24.3434 5.52925 24.1992L8.16433 15.4893C8.18357 15.4257 8.1612 15.3569 8.10826 15.3168L0.856878 9.81917C0.73688 9.72819 0.799041 9.53688 0.949596 9.53381L10.0475 9.34841C10.1139 9.34706 10.1725 9.30451 10.1943 9.24177L13.182 0.646435Z" ></path></svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="25" viewBox="0 0 26 25" fill="none"><path d="M13.182 0.646435C13.2315 0.504197 13.4326 0.504197 13.4821 0.646435L16.4698 9.24177C16.4916 9.30451 16.5502 9.34706 16.6166 9.34841L25.7145 9.53381C25.865 9.53688 25.9272 9.72819 25.8072 9.81917L18.5558 15.3168C18.5029 15.3569 18.4805 15.4258 18.4998 15.4893L21.1348 24.1992C21.1784 24.3434 21.0157 24.4616 20.8921 24.3756L13.4228 19.178C13.3682 19.14 13.2959 19.14 13.2413 19.178L5.77199 24.3756C5.64838 24.4616 5.48564 24.3434 5.52925 24.1992L8.16433 15.4893C8.18357 15.4257 8.1612 15.3569 8.10826 15.3168L0.856878 9.81917C0.73688 9.72819 0.799041 9.53688 0.949596 9.53381L10.0475 9.34841C10.1139 9.34706 10.1725 9.30451 10.1943 9.24177L13.182 0.646435Z" ></path></svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="25" viewBox="0 0 26 25" fill="none"><path d="M13.182 0.646435C13.2315 0.504197 13.4326 0.504197 13.4821 0.646435L16.4698 9.24177C16.4916 9.30451 16.5502 9.34706 16.6166 9.34841L25.7145 9.53381C25.865 9.53688 25.9272 9.72819 25.8072 9.81917L18.5558 15.3168C18.5029 15.3569 18.4805 15.4258 18.4998 15.4893L21.1348 24.1992C21.1784 24.3434 21.0157 24.4616 20.8921 24.3756L13.4228 19.178C13.3682 19.14 13.2959 19.14 13.2413 19.178L5.77199 24.3756C5.64838 24.4616 5.48564 24.3434 5.52925 24.1992L8.16433 15.4893C8.18357 15.4257 8.1612 15.3569 8.10826 15.3168L0.856878 9.81917C0.73688 9.72819 0.799041 9.53688 0.949596 9.53381L10.0475 9.34841C10.1139 9.34706 10.1725 9.30451 10.1943 9.24177L13.182 0.646435Z" ></path></svg>
  </div>
  <div class="w__PowerReview__content">
    {{ product.metafields.meta.recommended_review.value[0] }}
  </div>
  <div class="w__PowerReview__info">
    <span>{{ product.metafields.meta.recommended_review.value[1] }}</span>
    <img class="flag" loading="lazy" height="18" width="24" alt="" src="//cdn.shopify.com/static/images/flags/us.svg?width=30" />
    <div class="custom-review__item-safe">
      <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none"><g clip-path="url(#clip0_3763_297)"><path d="M5.83289 0.214844C3.00521 0.214844 0.712891 2.50716 0.712891 5.33484C0.712891 8.16268 3.00521 10.4548 5.83289 10.4548C8.66073 10.4548 10.9529 8.16268 10.9529 5.33484C10.9529 2.50716 8.66073 0.214844 5.83289 0.214844ZM5.83289 9.82492C3.36265 9.82492 1.35289 7.80508 1.35289 5.33482C1.35289 2.86458 3.36265 0.854824 5.83289 0.854824C8.30313 0.854824 10.3129 2.86459 10.3129 5.33482C10.3129 7.80505 8.30313 9.82492 5.83289 9.82492ZM7.87625 3.4614L4.87224 6.48428L3.51944 5.13148C3.39448 5.00652 3.19192 5.00652 3.0668 5.13148C2.94184 5.25644 2.94184 5.459 3.0668 5.58396L4.65064 7.16796C4.7756 7.29276 4.97816 7.29276 5.10328 7.16796C5.11768 7.15356 5.13001 7.13787 5.14121 7.12156L8.32905 3.91403C8.45385 3.78907 8.45385 3.58651 8.32905 3.4614C8.20393 3.33644 8.00137 3.33644 7.87625 3.4614Z" fill="#1C1C1C"></path></g><defs><clipPath id="clip0_3763_297"><rect width="10.24" height="10.24" fill="white" transform="translate(0.712891 0.214844)"></rect></clipPath></defs></svg>
      <span>Verified Buyer</span>
    </div>
  </div>
  
</div>

{% endif %}

{% if product.metafields.meta.awards != blank %}
<div class="w__PowerAward mt__15">
  {% if product.metafields.meta.awards_list_txt != blank %}
  <ul class="w__PowerAwardList mb__10 fs__10">
    {% for txt in product.metafields.meta.awards_list_txt.value %}
      <li>{{ txt }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% for img in product.metafields.meta.awards.value %}
  <img width=80 height=80 class="w__PowerAwardImage ml__5 mr__5 mb__0" src="{{ img | image_url: width: 100 }}" />
  {% endfor %}
</div>
{% endif %}